<div class="card">
    <div class="font-semibold text-xl mb-4">Wallet</div>
    <span class="text-muted-color">(ID {{wallet?.walletId}})</span>
    <p>Il tuo portafoglio personale</p>
</div>

<div class="grid grid-cols-12 gap-8 mb-8">

    <div class="col-span-6 lg:col-span-6 xl:col-span-6">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Ricarica Wallet</span>
                    
                    <div class=" flex flex-col gap-4">
                        
                        <div class="flex flex-col gap-2">
                            <!-- <input pInputText id="amount" type="text" /> -->
                            <p-inputgroup>
                                <p-inputnumber placeholder="importo" [(ngModel)]="amount" [min]="50" [max]="1000" />
                                <p-inputgroup-addon>€</p-inputgroup-addon>
                                <p-inputgroup-addon>.00</p-inputgroup-addon>
                            </p-inputgroup>
                            <p-button label="Ricarica" [fluid]="false" (onClick)="onReCharge()"></p-button>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-center bg-green-100 dark:bg-green-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-caret-up text-green-500 !text-xl"></i>
                </div>
            </div>
            
        </div>
    </div>

    <div class="col-span-6 lg:col-span-6 xl:col-span-6">
        <div class="card mb-0">
            <div class="flex justify-between mb-4">
                <div>
                    <span class="block text-muted-color font-medium mb-4">Saldo</span>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">€ {{wallet?.balance | currency:'EUR':'symbol':'1.2-2'}}</div>
                </div>
                <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-dollar text-orange-500 !text-xl"></i>
                </div>
            </div>
            ultimo update <span class="text-primary font-medium mb-4 block">{{wallet?.updateDate | date:'dd/MM/yyyy HH:mm:ss'}}</span>

        </div>
    </div>

</div>

